<scxml xmlns="http://www.w3.org/2005/07/scxml"
       xmlns:ms="http://telmi.se/MS"
              version="1.0"
              initialstate="main">

    <datamodel>
        <data name="sounds" expr="'/usr/local/freeswitch/sounds/test/'"  />
    </datamodel>

    <state id="main" final="true" >
        
       <onentry>
            <ms:answer/>
            <ms:menu value="sounds + 'menu.wav'" termdigits="#" choices="1234" maxtime="10s" />
        </onentry>

        <transition event="termdigit" target="exit">
            <ms:say>'Termdigit was pressed'</ms:say>
        </transition>

       <transition event="choice:1" target="main">
            <ms:playaudio value="sounds + '1.wav'" />
        </transition>

        <transition event="choice:2" target="exit">
            <ms:say>'choice two'</ms:say>
        </transition>

       <transition event="choice:4" target="exit">
            <ms:say>'choice four'</ms:say>
        </transition>

        <transition event="nomatch" target="exit" cond="count.nomatch == 3" >
            <ms:say>'no match was found no more tries'</ms:say>
        </transition>
        
        <transition event="nomatch" target="main" cond="count.nomatch lt 3" >
            <ms:say>'no match was found count ' + count.nomatch</ms:say>
        </transition>

        <transition event="maxtime" target="exit" cond="count.maxtime == 3">
            <ms:say>'You are to slow, try again'</ms:say>
        </transition>

        <transition event="error" target="exit">
            <ms:say>'error'</ms:say>
        </transition>

    </state>

       <state id="exit" final="true">
         <onentry>
            <log expr="'count =' + count.nomatch " />
            <ms:exit />
        </onentry>

  </state>

</scxml>

