
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.telmi.msc.fsadapter" level="INFO"/>
    <logger name="ch.qos.logback.core.joran" level="ERROR"/>

    <root>
        <level value="error" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
