<?xml version="1.0" encoding="UTF-8"?>
<nbm>
    <dependencies>
        
        <dependency> 
            <id>org.netbeans.modules:org-netbeans-modules-xml-text</id> 
            <type>spec</type> 
            <explicitValue>org.netbeans.modules.xml.text/2 = 5</explicitValue> 
        </dependency>
    
        <dependency>
            <id>org.netbeans.modules:org.netbeans.modules.editor.structure</id>
            <type>spec</type>
            <explicitValue>org.netbeans.modules.editor.structure/1.2 = 2</explicitValue>
        </dependency>
        
    </dependencies>
</nbm>
